<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>EDC Acropolis</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'index/img/EDC LOGO-01 (3) (1).png'%}" rel="icon" />
    <link href="{% static 'index/img/EDC LOGO-01 (3) (1).png'%}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>

    <!-- Vendor CSS Files -->
    <link href="{% static 'index/assets/vendor/aos/aos.css'%}" rel="stylesheet" />
    <link href="{% static 'index/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet"/>
    <link href="{% static 'index/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet"/>
    <link href="{% static 'index/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet" />
    <link href="{% static 'index/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet"/>
    <link href="{% static 'index/assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet" />
    <link href="{% static 'index/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static 'index/assets/css/style.css'%}" rel="stylesheet" />

    <!-- Carousel CSS Dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{#      CONTACT US FORM CSS#}
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'index/contact/css/style.css' %}">
{#      END CONTACT US #}

  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <!-- Uncomment below if you prefer to use an image logo -->
           <a href="{% url 'index' %}"><img src="{% static 'index/img/EDC LOGO-01 (3) (1).png'%}" alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li>
              <a class="nav-link scrollto" href="#events">Events</a>
            </li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li>
              <a class="getstarted scrollto" href="#contact">Contact</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
{% block content %}

  {% endblock content %}

  <footer class="footer">
    <div class="footer__addr">


      <h2>Contact</h2>

      <address>
        {{ index.address }}<br>

        <a class="footer__btn" href="mailto:{{ index.email }}">Email Us</a>
      </address>
    </div>

    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Events</h2>

        <ul class="nav__ul">
          <li>
            <a href="#">Gallery</a>
          </li>

          <li>
            <a href="#">Collaborations</a>
          </li>

          <li>
            <a href="#">Sponsorship</a>
          </li>
        </ul>
      </li>

      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Technology</h2>

        <ul class="nav__ul nav__ul--extra">
          <li>
            <a href="#">Hardware Design</a>
          </li>

          <li>
            <a href="#">Software Design</a>
          </li>

          <li>
            <a href="#">Digital Signage</a>
          </li>

          <li>
            <a href="#">Automation</a>
          </li>

          <li>
            <a href="#">Artificial Intelligence</a>
          </li>

          <li>
            <a href="#">IoT</a>
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <h2 class="nav__title">Services</h2>

        <ul class="nav__ul">
          <li>
            <a href="#">Counseling</a>
          </li>
          <li>
            <a href="#">Incubations</a>
          </li>

          <li>
            <a href="#">Accelerator</a>
          </li>

        </ul>
      </li>
    </ul>

    <div class="legal">
      <p>&copy; 2021 EDC. All rights reserved.</p>


    </div>
  </footer>


  <!-- javascript -->
  <script src="{% static 'index/assets/js/main.js'%}"></script>

      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <!-- Vendor JS Files -->
    <script src="{% static 'index/assets/vendor/purecounter/purecounter.js'%}"></script>
    <script src="{% static 'index/assets/vendor/aos/aos.js'%}"></script>
    <script src="{% static 'index/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'index/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static 'index/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'index/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'index/assets/vendor/php-email-form/validate.js'%}"></script>

    <!-- Carousel JS Dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Template Main JS File -->
    <script src="{% static 'index/assets/js/main.js'%}"></script>
{#  CONTACT US FORM SCRIPTS#}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'index/contact/js/google-map.js' %}"></script>

{#  END CONTACT US FORM SCRIPTS#}
  </body>

</html>
