{% extends 'index_main.html' %}
{% load static %}
{% block content %}

<!-- ======= Modal ======= -->
{% if featured %}
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" data-bs-backdrop="static"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content section-bg">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ featured.title }}</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column">
        <img class="img-fluid align-self-center" src="{%static featured.imageURL%}" alt="">
        <p>{{ featured.description }}</p>
        {% if featured.link %}
        <a href="{{ featured.link }}"
          target="_blank">
          <button class="btn btn-primary p-1">Read More</button>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- ======= End Modal ======= -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">{{ index.heading_bold }}</h1>
        <h2 data-aos="fade-up" data-aos-delay="0" data-aos-duration="800">{{ index.heading_sub }}</h2>
        <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="800">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="0" data-aos-duration="800">
        <img class="img-fluid animated" id="edc-img" src="" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container">
      <div class="row">
        <div id="clients-carousel" class="clients-carousel" data-aos="fade-up" data-aos-delay="0"
          data-aos-duration="800">
          {% for obj in company %}
          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static obj.imageURL%}" class="img-fluid" alt="{{ obj.name }}" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="about-container container">
      <div class="about-sub-container">
        <div class="about-img">
          <img data-aos="fade-up" data-aos-delay="0" data-aos-duration="500" style="height: auto; max-width: 280px"
            id="success-img" src="" alt="" />
        </div>
        <div class="about-content">
          <h3 data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"><br />About Entrepreneurship Developement
            Cell</h3>
          <p data-aos="fade-up" data-aos-delay="0" data-aos-duration="500" class="">{{ index.about_us_1 }}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <h2>{{ index.skillset_heading }}</h2>
        <p>{{ index.skillset_description }}</p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box card" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
            <div class="icon"><i class="bi bi-people"></i></div>
            <h4 class="title">{{ index.skillset_1_heading }}</h4>
            <p class="description">
              {{ index.skillset_1_description }}
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box card" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
            <div class="icon"><i class="bi bi-flag"></i></div>
            <h4 class="title">{{ index.skillset_2_heading }}</h4>
            <p class="description">
              {{ index.skillset_2_description }}
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box card" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
            <div class="icon"><i class="bi bi-gear"></i></div>
            <h4 class="title">{{ index.skillset_3_heading }}</h4>
            <p class="description">
              {{ index.skillset_3_description }}
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box card" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
            <div class="icon"><i class="bi bi-chat"></i></div>
            <h4 class="title">{{ index.skillset_4_heading }}</h4>
            <p class="description">
              {{ index.skillset_4_description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Verticals Section ======= -->
  <section id="supporters" class="section-with-bg wow fadeInUp">
    <div class="container">
      <div class="section-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <h2>Verticals</h2>
        <p>{{ index.vertical_heading }}</p>
      </div>

      <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"
        style="display:flex; justify-content: center; align-items: center;" class="row no-gutters clearfix">
        {% for vertical in verticals %}
        <div class="col-lg-3 col-md-4 col-xs-6 pl-0">
          <div class="supporter-logo card icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="0"
            data-aos-duration="500">
            <img src="{% static vertical.imageURL %}" class="img-fluid" alt="{{ vertical.title }}" />
            <div class="vertical-descripition">{{ vertical.description }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <h2>Testimonials</h2>
        <p>{{ index.testimonial_heading }}</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <div class="swiper-wrapper">
          <!-- End testimonial item -->

          {% for testimonial in testimonials %}
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item card">
                <img src="{% static testimonial.imageURL %}" class="testimonial-img" alt="{{ testimonial.name }}" />
                <h3>{{ testimonial.name }}</h3>
                <h4>{{ testimonial.post }}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ testimonial.quote }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Startups Section ======= -->
  <section id="startups" class="startups">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <span>
          <h2>Startups</h2>
        </span>
        <p>{{ index.startup_heading }}</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <div class="col-lg-12 d-flex justify-content-center"></div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"
        style="display: flex; justify-content: center;">
        {% for startup in startups %}
        <div class="col-lg-4 col-md-6 filter-app p-2">
          <div class="card mb-4 d-flex flex-row h-100">
            <div
              style="max-width:25%;display: flex; align-items: center; justify-content: center; border-right: 1px solid var(--border-color);">
              <img src="{% static startup.imageURL %}" class="card-img-top img-fluid" alt="{{ startup.title }}"
                style="width: 90%;">
            </div>
            <div class="card-body startup-card">
              {% if startup.site_url %}
              <a href="{{ startup.site_url }}" target="_blank">
                <h5 class="card-title">{{ startup.title }}</h5>
              </a>
              {% else %}
              <h5 class="card-title">{{ startup.title }}</h5>
              {% endif %}
              <span>
                <a href="{{ startup.linkedin_url_1 }}" target="_blank">
                  <h3 style="font-size: 80%; display: inline;">by&nbsp;{{ startup.founder_name }}</h3>
                </a>
                {% if startup.founder_name2 %}
                , <a href="{{ startup.linkedin_url_2 }}" target="_blank">
                  <h3 style="font-size: 80%; display: inline;">{{ startup.founder_name2 }}</h3>
                </a>
                {% endif %}
              </span>
              {% if startup.founder_name3 %}
              <a href="{{ startup.linkedin_url_3 }}" target="_blank">
                <h3 style="font-size: 80%;">{{ startup.founder_name3 }}</h3>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>
  <!-- End Startups Section -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="more-services">
    <div class="container">
      <div class="section-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <h2>Events</h2>
        <p>{{ index.event_heading }}</p>
      </div>

      <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="500" class="accordion" id="accordionExample">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Upcoming Events
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row mb-4">
                {% for event in future_events %}
                <div class="col-md-6 d-flex" style="height: 20rem;">
                  <div class="card m-3 d-flex justify-content-end"
                    style="background-image: url('{% static event.imageURL %}')" data-aos="fade-up" data-aos-delay="0"
                    data-aos-duration="500">
                    <div class="card-b d-flex justify-content-center" style="flex: auto auto auto;">
                      <h5 class="card-title">
                        <a target="_blank" href="{% url 'events' pk=event.pk %}">{{ event.title }}</a>
                      </h5>
                      <!-- <p class="card-text">
                        {{ event.short_description }}
                      </p> -->
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Ongoing Events
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row mb-4">
                {% for event in ongoing_events %}
                <div class="col-md-6 d-flex" style="height: 20rem;">
                  <div class="card m-3 d-flex justify-content-end"
                    style="background-image: url('{% static event.imageURL %}')" data-aos="fade-up" data-aos-delay="0"
                    data-aos-duration="500">
                    <div class="card-b d-flex justify-content-center" style="flex: auto auto auto;">
                      <h5 class="card-title">
                        <a target="_blank" href="{% url 'events' pk=event.pk %}">{{ event.title }}</a>
                      </h5>
                      <!-- <p class="card-text">
                        {{ event.short_description }}
                      </p> -->
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Past Events
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row mb-4">
                {% for event in past_events %}
                <div class="col-md-6 d-flex" style="height: 20rem;">
                  <div class="card m-3 d-flex justify-content-end"
                    style="background-image: url('{% static event.imageURL %}')" data-aos="fade-up" data-aos-delay="0"
                    data-aos-duration="500">
                    <div class="card-b d-flex justify-content-center" style="flex: auto auto auto;">
                      <h5 class="card-title">
                        <a target="_blank" href="{% url 'events' pk=event.pk %}">{{ event.title }}</a>
                      </h5>
                      <!-- <p class="card-text">
                        {{ event.short_description }}
                      </p> -->
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>
    </div>
  </section>
  <!-- End Events Section -->

  <section id="portfolio" class="portfolio section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <h2>Gallery</h2>
        <p>{{ index.gallery_heading }}</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        {% for images in gallery %}
        <div class="col-lg-4 col-md-6 portfolio-item position-relative gallery-image">
          <a href="{% static images.imageURL %}" class="lightbox portfolio-wrap card" data-group="gallery">
            <img class="img-fluid" src="{% static images.imageURL %}" style="object-fit: contain"
              alt="{{ images.event.title }}" />
            <a href="{% url 'events' pk=images.event.pk %}" target="_blank">
              <i class="bi bi-link-45deg event-link-icon"></i>
            </a>
          </a>
          <a href="{% url 'events' pk=images.event.pk %}" target="_blank">
            <p class="event-link">{{ images.event.title }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="">
    <div class="container" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="wrapper">
            <div class="row no-gutters mb-5">
              <div class="col-md-7">
                <div class="contact-wrap card w-100 p-md-5 p-4">
                  <h3 class="mb-4">Contact Us</h3>
                  <div id="form-message-warning" class="mb-4"></div>
                  <div id="form-message-success" class="mb-4">
                    Your message was sent, thank you!
                  </div>
                  <form method="POST" id="contactForm"
                    onsubmit="document.getElementById('submit_button').disabled=true;alert('Your Response Has been recorded, You will receive a conformation email shortly')"
                    name="contactForm" class="contactForm">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label" for="name">Full Name</label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="Name" required />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label" for="email">Contact Number</label>
                          <input type="tel" class="form-control" name="number" id="number" placeholder="Contact Number"
                            maxlength="10" required />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="email">Email Address</label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email address"
                            required />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="subject">Subject</label>
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            required />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="#">Message</label>
                          <textarea name="message" class="form-control" id="message" cols="30" rows="4"
                            placeholder="Message" required></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <br>
                          <input type="submit" id="submit_button" value="Send Message" class="btn btn-primary"
                            required />
                          <div class="submitting"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-5 d-flex">
                <iframe class="card"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.4916603324777!2d75.94096541491544!3d22.821292585055414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39631cf455b4cec3%3A0x426141aa8141f7a5!2sAcropolis%20Institute%20Of%20Technology%20And%20Research%20-%20AITR!5e0!3m2!1sen!2sin!4v1641879910671!5m2!1sen!2sin"
                  width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                  tabindex="0"></iframe>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="dbox w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="bi bi-geo-alt-fill"></span>
                  </div>
                  <div class="text">

                    <p><a href="https://goo.gl/maps/ASFPPd9k25ccSogr6" target="_blank">{{ index.address }}</a></p>

                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dbox w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="bi bi-telephone-fill"></span>
                  </div>
                  <div class="text">
                    <p><a href="tel://{{ index.number }}">+91 {{ index.number }}</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dbox w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="bi bi-envelope-fill"></span>
                  </div>
                  <div class="text">
                    <a href="mailto:{{ index.email }}">{{ index.email }}</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dbox w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="bi bi-globe"></span>
                  </div>
                  <div class="text">
                    <a href="https://aitr.ac.in/sidebar/entrepreneurship-cell/" target="_blank">aitr.ac.in/EDC</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</main>


{% endblock content %}
