<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>EDC WEBSITE</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <link rel="icon" href="{% static 'index/img/favicon.png' %} " type="image/icon type">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'index/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'index/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'index/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


  <link href="{% static 'index/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">

        <h1><a href="#main">IND<span>i</span>NNOVATE</a></h1>
       <!-- <a href="#intro" class="scrollto"><img src="https://couponbazi.com/AITR_EVENT/img/logo.png" alt="" title=""></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>

          <li><a href="#supporters">Partners</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav>
    </div>
  </header>


  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0"> Virtual<br>National <span> Idea </span> Contest</h1>
      <p class="mb-4 pb-0">
        Entrepreneurship Development Cell
        Acropolis group of Institutions</p>

      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
  </section>

  <main id="main">


    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <h2>About The Event</h2>
            <p>A pan-India idea contest inviting young minds with innovative ideas to participate and
              get an opportunity to gain recognition and win exciting prizes with mentoring, incubation and funding support to top five select Ideas.
            </p>
          </div>

          <div class="col-lg-3">
            <h3>Final Round</h3>
            <p>March 12, 2021</p>
          </div>
        </div>
      </div>
    </section>

    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Event Jury Members</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{% static 'index/img/speakers/1.png' %}" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="https://www.linkedin.com/in/tushar-p-325b5869/">Tushar Pal</a></h3>
                <p>Co Founder</p>
               <p> Protons Hub Technology<br>
                  Indore M.P.</p>
                <div class="social">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{% static 'index/img/speakers/2.png' %}" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="https://www.linkedin.com/in/saurabh-mantri-28a4a569/">Saurabh Mantri</a></h3>
                <p>Co-Founder</p>
               <p>Loadmee Logistics<br>
                  Indore M.P.</p>
                <div class="social">

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{% static 'index/img/speakers/3.png' %}" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="https://www.linkedin.com/in/dr-radhika-meenakshi-shankar">Radhika Meenakshi Shankar</a></h3>
                <p>Founder</p>
               <p>Wise Owl Consulting<br>
                  Andhrapradesh</p>
                <div class="social">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



<br>




    <!--==========================
      Schedule Section*****************************************************************************************************************
    ============================
    <style>

    </style>

    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Event Schedule</h2>
          <p>Here is our event schedule</p>
        </div>
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <button id="toggleButton">Toggle</button>

        <ul class="timeline" id="timeline">
          <li class="li complete">
            <div class="timestamp">
              <span class="author">Abhi Sharma</span>
              <span class="date">11/15/2014<span>
            </div>
            <div class="status">
              <h4> Shift Created </h4>
            </div>
          </li>
          <li class="li complete">
            <div class="timestamp">
              <span class="author">PAM Admin</span>
              <span class="date">11/15/2014<span>
            </div>
            <div class="status">
              <h4> Email Sent </h4>
            </div>
          </li>
          <li class="li complete">
            <div class="timestamp">
              <span class="author">Aaron Rodgers</span>
              <span class="date">11/15/2014<span>
            </div>
            <div class="status">
              <h4> SIC Approval </h4>
            </div>
          </li>
          <li class="li">
            <div class="timestamp">
              <span class="author">PAM Admin</span>
              <span class="date">TBD<span>
            </div>
            <div class="status">
              <h4> Shift Completed </h4>
            </div>
          </li>
         </ul>



        </div>
      </div>
    </section>-->


    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <a href="https://www.facebook.com/EDCAcropolis/photos/?ref=page_internal" >
          <h2>Gallery</h2>
          <p>Check our Facebook gallery from the recent events</p></a>
        </div>
      </div>


        <center>
        <a href="https://www.facebook.com/EDCAcropolis/photos/?ref=page_internal" ><img src="img/gallery/EDC1.png" alt=""  width="80%"></a>
      </center>


    </section>


    <section id="supporters" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2 style="color:black">Partners</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/6.png" class="img-fluid" alt="">
            </div>
          </div>



          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/11.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/13.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/14.png" class="img-fluid" alt="">
            </div>
          </div>



        </div>

      </div>

    </section>



    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>

        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Register At</h3>
              <address><a href="https://docs.google.com/forms/d/e/1FAIpQLSfge6dtWAcTDMN0-rxPZaoBH9yB3nNctSWJ3aIuXo_ocJufsA/viewform?usp=sf_link">https://bit.ly/INDiNNOVATEContest2021</a></address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Sagar Maheshwari</h3>
              <p><a href="tel:+919827053300">+91 9827053300</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:indinnovate@acropolis.in">indinnovate@acropolis.in</a></p>
            </div>
          </div>

        </div>


    </section>

  </main>



  <footer id="footer">
    <div class="footer-top">

    </div>

    <div class="container">
      <div class="copyright">
        &copy;  <strong>INDiNNOVATE</strong>. 2021
      </div>

    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>


  <script src="{% static 'index/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'index/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'index/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'index/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'index/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'index/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'index/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'index/lib/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'index/lib/owlcarousel/owl.carousel.min.js' %}"></script>


  <script src="{% static 'index/contactform/contactform.js' %}"></script>


  <script src="{% static 'index/js/main.js' %}"></script>
</body>

</html>