{% extends 'index_main.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container" style="margin-top: 1rem;">
            <div class="section-title" data-aos="fade-up">
                <h2>Team</h2>
                <p>{{ index.team_heading }}</p>
            </div>

            <div class="container">
                <div class="row d-flex justify-content-center">
                    {% for member in team %}
                    <div class="col-md-3">
                        <div class="member mx-2 card" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="{% static member.imageURL %}" class="img-fluid" alt="{{ member.name }}" />
                                <div class="social">
                                    <a href="{{ member.facebook_url }}"><i class="bi bi-facebook"></i></a>
                                    <a href="{{ member.instagram_url }}"><i class="bi bi-instagram"></i></a>
                                    <a href="{{ member.linkedin_url }}"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>{{ member.name }}</h4>
                                <span>{{ member.title }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->

</main><!-- End #main -->

{% endblock content %}